<a href="https://colab.research.google.com/github/Developers-07/Python/blob/main/Python(LabTask_02).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **User Input for List & Matrix**

In [ ]:
arr=[]
n=int(input("Enter the List size:"))
for i in range(n):
  e=int(input())
  arr.append(e)
#print(arr)
for i in range(n):
  print(arr[i],end=" ")

Enter the List size:5
1
2
3
4
5
1 2 3 4 5

In [ ]:
matrix=[]
r=int(input("Enter the rows:"))
c=int(input("Eenter the colums:"))
for i in range(r):
  a=[]
  for j in range(c):
    e=int(input())
    a.append(e)
  matrix.append(a)
  print()
#print(matrix)
for i in range(r):
  for j in range(c):
    print(matrix[i][j],end=" ")
  print()

Enter the rows:2
Eenter the colums:3
1
2
3

5
6
7

1 2 3
5 6 7

In [ ]:
list=[]
n=input()
list=n.split("")
for i in list:
  print((i))

zishan kabir chowdhury
zishan
kabir
chowdhury

In [ ]:
m=[
   [1,3,5,7],
   [2,4,6,8]
]
for i in m:
  for j in i:
    print(j,end=" ")
  print("\n")

1 3 5 7

2 4 6 8

## **Dictionary DataStructure**

In [ ]:
stid={
    1:"Zishan",
    2:"Razib",
    3:"Abir",
    4:"Faruk",
    5:"Disha",
    6:"synthea"
}
print(stid)

{1: 'Zishan', 2: 'Razib', 3: 'Abir', 4: 'Faruk', 5: 'Disha', 6: 'synthea'}

In [ ]:
stid={
    1:"Beauty",
    2:"Rini",
    3:"Liza",
    4:"Riya",
    5:"Disha",
    6:"synthea",
    7:"Nupur",
    8:"Sawdi",
    9:"Mili"
}
print(stid.get(5,"Not a valid keyword"))

Disha

In [ ]:
dic={}
for i in range(3):
  k=int(input())
  v=input()
  dic[k]=v
print(dic)

1
Zishan
2
Razib
3
Abir
{1: 'Zishan', 2: 'Razib', 3: 'Abir'}

In [ ]:
l1=[3,4,6,9]
l2=["zishan","abir","razib"]
dict={
    "brand":l1,
    "Name":l2
}
print(dict)

{'brand': [3, 4, 6, 9], 'Name': ['zishan', 'abir', 'razib']}