<a href="https://colab.research.google.com/github/Developers-07/Python/blob/main/Python(LabTask_01).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **if-else statement**

In [ ]:
a=int(input("Enter the first Number:"))
b=int(input("Enter the second Number:"))
c=a+b
d=float(input("What is the summation of two Numbers:"))
if c==d:
  print("You are right")
else :
  print("You are wrong")

Enter the first Number:7
Enter the second Number:8
What is the summation of two Numbers:15
You are right

In [ ]:
a=int(input("Enter the first Number:"))
b=int(input("Enter the second Number:"))

#print(max(a,b),"is large number")

if a>b:
  print(a,"is large number")
else:
  print(b,"is large number")

Enter the first Number:6
Enter the second Number:11
11 is large number

## Loop Statement

In [ ]:
a=int(input("Enter the Number:"))
for i in range(0,a):
  print(i,end=" ")

Enter the Number:5
0 1 2 3 4

In [ ]:
a=int(input("Enter the Number:"))
i=0
while i<a:
  print(i,end=" ")
  i=i+1

Enter the Number:10
0 1 2 3 4 5 6 7 8 9

In [ ]:
n=int(input("Enter the Number:"))
for i in range(1,n+1):
  if i%3==0:
    print(i,end=" ")

Enter the Number:50
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48

# List Statement

In [ ]:
arr=[3,4,5,7,9]
for i in arr:
  print(i,end=" ")
print("\n")
arr.append(10)
print("New array =",arr)
arr.insert(3,6)
print("New insert array =",arr)
arr.sort()
print("Sort array =",arr)
arr.reverse()
print("Reverse array =",arr)

3 4 5 7 9

New array = [3, 4, 5, 7, 9, 10]
New insert array = [3, 4, 5, 6, 7, 9, 10]
Sort array = [3, 4, 5, 6, 7, 9, 10]
Reverse array = [10, 9, 7, 6, 5, 4, 3]

# **Break-Continue Statement**

In [ ]:
list=["Zishan","Abir","Razib","Faruk","Shanto"]
for i in list:
  if i=="Shanto":
    break
  elif i=="Abir":
    continue
  else:
    print(i)

Zishan
Razib
Faruk

In [ ]:
import random
n=int(input("Enter a Number:"))
g_num=random.randint(0,10)
if n==g_num:
  print("Right Guess")
else:
  print("The Guess Number was =",g_num,"So Wrong Guess")

Enter a Number:7
The Guess Number was = 9 So Wrong Guess

# ***Problem Solving***

Divisible by 3 and 5

In [ ]:
print("Enter the Number : ")
n=int(input())
if n%3==0 and n%5==0:
  print(n,"is divisible by 3 and 5")
else:
  print(n,"is not divisible by 3 and 5")

Enter the Number :
15
15 is divisible by 3 and 5

Divisible by 13 and 17 in a range

In [ ]:
print("Enter the Starting Number:")
n=int(input())
print("Enter the Ending Number:")
m=int(input())
c=0
for i in range(n,m+1):
  if i%13==0 and i%17==0:
    c=c+1;
print("Total divisible Number =",c)

Enter the Starting Number:
1
Enter the Ending Number:
100
Total divisible Number = 0

# Split,pop,extend,sum Function

In [ ]:
arr=["A","B","C","D","E"]
#arr[1:4]
print(arr[1:4])

['B', 'C', 'D']

In [ ]:
arr=["A","B","C","D","E"]
arr.pop()
print(arr)
arr.append("F")
print(arr)

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 'F']

In [ ]:
str="My name is Zishan"
arr1=str.split()
print(arr1)
arr1.append(["Kabir","Chowdhury"])
print(arr1)

My name is Zishan
['My', 'name', 'is', 'Zishan']
['My', 'name', 'is', 'Zishan', ['Kabir', 'Chowdhury']]

In [ ]:
list=[3,4,5,6]
list.extend([7,8,9,10])
print(list)
print("Sum =",sum(list))

[3, 4, 5, 6, 7, 8, 9, 10]
Sum = 52

## **Dictionary**

In [ ]:
dictionary ={}

for i in range(3):
  k=input()
  v=input()
  dictionary[k]=v

print(dictionary)

brand
toyota,tata
model
alion,nano
year
2010,2015
{'brand': 'toyota,tata', 'model': 'alion,nano', 'year': '2010,2015'}

In [ ]:
list1=["Bazaz","TVS","Honda"]
list2=["Platina","Stryker","Livo"]
list3=["2012","2010","2018"]
dict={
    "brand":list1,
    "model":list2,
    "year":list3
}
dict

{'brand': ['Bazaz', 'TVS', 'Honda'],
 'model': ['Platina', 'Stryker', 'Livo'],
 'year': ['2012', '2010', '2018']}

In [ ]:
import pandas as pd
df=pd.DataFrame(dict)
df

   brand    model  year
0  Bazaz  Platina  2012
1    TVS  Stryker  2010
2  Honda     Livo  2018